body:has(.stcdx--root) {
  --stcdx--discordToggle: 0;
  --stcdx--sheldWidth: calc(((var(--stcdx--discordToggle) * -1 + 1) * var(--sheldWidth)) + (var(--stcdx--discordToggle) * (100vw - var(--nav-bar-width, 0vw) - var(--char-panel-width, 0vw) - var(--settings-panel-width, 0vw) - ((100vw - var(--sheldWidth)) / 2))));
}
body:has(.stcdx--root) #sheld:has(~ .stcdx--root) {
  width: var(--stcdx--sheldWidth);
}
body:has(.stcdx--root) #sheld:has(~ .stcdx--root) > #chat,
body:has(.stcdx--root) #sheld:has(~ .stcdx--root) > #form_sheld {
  width: var(--stcdx--sheldWidth);
}
body {
  --stcdx--color: #00ffff;
  --stcdx--icon: "🧾";
}
.stcdx--link {
  cursor: help;
  color: var(--stcdx--color);
  transition: 400ms;
}
.stcdx--link:hover {
  text-decoration: underline dotted;
}
.stcdx--link:hover:after {
  opacity: 1;
}
.stcdx--link:after {
  content: var(--stcdx--icon);
  opacity: 0.5;
}
.stcdx--root {
  --scale-speaker: 100;
  --top: calc(100 - 100 / var(--scale-speaker) * 100);
  --offset: 25;
  --transition: 400;
  --scale-dropoff: 3;
  --position: 100;
  --width: calc((100vw - var(--sheldWidth)) / 2);
}
.stcdx--root {
  background-color: var(--SmartThemeBotMesBlurTintColor);
  position: absolute;
  top: 0;
  bottom: 0;
  max-height: unset;
  max-width: unset;
  left: calc(var(--position) * (100vw - var(--width)) / 100);
  left: clamp(0vw, calc(var(--position) * (100vw - var(--width)) / 100 - var(--settings-panel-width, 0px)), calc(100vw - var(--width)));
  width: var(--width);
  perspective: 500px;
  transform-style: preserve-3d;
  transition: calc(var(--transition) * 1ms);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0fr 1fr;
}
.stcdx--root.stcdx--editing > .stcdx--header {
  pointer-events: none;
}
.stcdx--root.stcdx--editing > .stcdx--header > * {
  display: none;
}
.stcdx--root.stcdx--editing > .stcdx--header > .stcdx--editHead {
  display: block;
}
.stcdx--root.stcdx--editing > .stcdx--header > .stcdx--editTrigger {
  display: block;
  pointer-events: all;
}
.stcdx--root.stcdx--editing > .stcdx--editor {
  opacity: 1;
  pointer-events: all;
}
.stcdx--root.stcdx--editing > .stcdx--content,
.stcdx--root.stcdx--editing > .stcdx--content.stcdx--active {
  opacity: 0;
  pointer-events: none;
}
.stcdx--root > .stcdx--header {
  flex: 0 0 auto;
  height: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2em;
  gap: 1em;
}
.stcdx--root > .stcdx--header > .stcdx--menuTrigger {
  cursor: pointer;
  font-size: 2em;
  padding: 0.2em;
  opacity: 0.5;
  transition: 200ms;
}
.stcdx--root > .stcdx--header > .stcdx--menuTrigger:hover {
  opacity: 1;
}
.stcdx--root > .stcdx--header > .stcdx--menuTrigger > .stcdx--books {
  cursor: default;
  background-color: var(--SmartThemeBotMesBlurTintColor);
  border: 1px solid var(--SmartThemeBorderColor);
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
  border-radius: 10px;
  font-size: 0.5em;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 0.5em;
  max-height: 90vh;
  list-style: none;
  z-index: 99999;
  max-width: 100%;
}
.stcdx--root > .stcdx--header > .stcdx--menuTrigger > .stcdx--books > .stcdx--book > .stcdx--name {
  font-weight: bold;
}
.stcdx--root > .stcdx--header > .stcdx--menuTrigger > .stcdx--books > .stcdx--book > .stcdx--entries {
  list-style: none;
  padding: 0 0.5em 0.5em 0.5em;
  margin: 0;
}
.stcdx--root > .stcdx--header > .stcdx--menuTrigger > .stcdx--books > .stcdx--book > .stcdx--entries > .stcdx--entry {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.8;
  transition: 200ms;
}
.stcdx--root > .stcdx--header > .stcdx--menuTrigger > .stcdx--books > .stcdx--book > .stcdx--entries > .stcdx--entry:hover {
  opacity: 1;
}
.stcdx--root > .stcdx--header > .stcdx--back,
.stcdx--root > .stcdx--header > .stcdx--forward,
.stcdx--root > .stcdx--header > .stcdx--editTrigger {
  cursor: pointer;
  font-size: 2em;
  padding: 0.2em;
  opacity: 0.5;
  transition: 200ms;
}
.stcdx--root > .stcdx--header > .stcdx--back:hover,
.stcdx--root > .stcdx--header > .stcdx--forward:hover,
.stcdx--root > .stcdx--header > .stcdx--editTrigger:hover {
  opacity: 1;
}
.stcdx--root > .stcdx--header > .stcdx--back.stcdx--end,
.stcdx--root > .stcdx--header > .stcdx--forward.stcdx--end,
.stcdx--root > .stcdx--header > .stcdx--editTrigger.stcdx--end {
  cursor: default;
  opacity: 0.25;
}
.stcdx--root > .stcdx--header > .stcdx--back.stcdx--end:hover,
.stcdx--root > .stcdx--header > .stcdx--forward.stcdx--end:hover,
.stcdx--root > .stcdx--header > .stcdx--editTrigger.stcdx--end:hover {
  opacity: 0.25;
}
.stcdx--root > .stcdx--header > .stcdx--editHead {
  display: none;
  flex: 1 1 auto;
  text-align: center;
}
.stcdx--root > .stcdx--header > .stcdx--search {
  position: relative;
  flex: 1 1 auto;
}
.stcdx--root > .stcdx--header > .stcdx--search > .stcdx--results {
  background-color: var(--SmartThemeBotMesBlurTintColor);
  border: 1px solid var(--SmartThemeBorderColor);
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 0.5em;
  max-height: 90vh;
  list-style: none;
  z-index: 99999;
  width: 100%;
}
.stcdx--root > .stcdx--header > .stcdx--search > .stcdx--results > .stcdx--result {
  opacity: 0.8;
  transition: 200ms;
  cursor: pointer;
  padding: 0.25em;
}
.stcdx--root > .stcdx--header > .stcdx--search > .stcdx--results > .stcdx--result:hover {
  opacity: 1;
}
.stcdx--root > .stcdx--header > .stcdx--controls {
  right: 0;
  top: 0;
}
.stcdx--root > .stcdx--header > .stcdx--controls > .stcdx--close {
  height: 15px;
  aspect-ratio: 1 / 1;
  font-size: 20px;
  opacity: 0.5;
  transition: all 250ms;
}
.stcdx--root > .stcdx--editor {
  pointer-events: none;
  opacity: 0;
  grid-row: 2;
  grid-column: 1;
  height: 100%;
  width: 100%;
  transition: 400ms;
}
.stcdx--root > .stcdx--content {
  grid-row: 2;
  grid-column: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 1em;
  text-align: justify;
  transition: 400ms;
  opacity: 0;
  position: none;
  z-index: -1;
}
.stcdx--root > .stcdx--content:has(.stcdx--mapCodex) {
  overflow: hidden;
}
.stcdx--root > .stcdx--content.stcdx--active {
  opacity: 1;
  pointer-events: all;
}
.stcdx--root > .stcdx--content > br {
  display: none;
}
.stcdx--root > .stcdx--content h1,
.stcdx--root > .stcdx--content h2,
.stcdx--root > .stcdx--content h3 {
  text-align: center;
}
.stcdx--root > .stcdx--content img {
  max-height: 50vh;
  height: auto;
  width: 100%;
  object-fit: contain;
  object-position: center;
  cursor: zoom-in;
}
.stcdx--root > .stcdx--content img:hover {
  filter: drop-shadow(2px 4px 6px black);
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex > .stcdx--title {
  grid-column: 1;
  grid-row: 1;
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--mapContainer {
  flex: 0 0 auto;
  display: grid;
  position: relative;
  cursor: zoom-in;
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--mapContainer:hover {
  filter: drop-shadow(2px 4px 6px black);
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--mapContainer > .stcdx--map,
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--mapContainer .stcdx--hover {
  grid-column: 1;
  grid-row: 2;
  max-height: 50vh;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: auto;
  z-index: 1;
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--mapContainer > .stcdx--map.stcdx--map,
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--mapContainer .stcdx--hover.stcdx--map {
  filter: saturate(0.5);
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--mapContainer > .stcdx--map.stcdx--hover,
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--mapContainer .stcdx--hover.stcdx--hover {
  pointer-events: none;
  transform: scale(1);
  transition: transform 200ms, filter 200ms;
  filter: drop-shadow(0 0 0px black);
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--zoneContainer {
  grid-column: 1;
  grid-row: 4;
  flex: 1 1 auto;
  overflow: auto;
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--zoneContainer > .stcdx--map-zone {
  opacity: 0.75;
  transition: 200ms;
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--zoneContainer > .stcdx--map-zone.stcdx--active {
  opacity: 1;
}
.stcdx--root > .stcdx--content > .stcdx--mapCodex .stcdx--zoneContainer > .stcdx--map-zone > .stcdx--title {
  font-weight: bold;
}
body > .stcdx--me {
  position: fixed;
  inset: 0;
  z-index: 9998;
}
body > .stcdx--me:before {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
}
body > .stcdx--me > .stcdx--menu {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: top;
  justify-content: end;
  background-color: var(--greyCAIbg);
  box-shadow: 0 0 6px rgba(0 0 0 / 0.5);
  height: 2em;
  position: relative;
}
body > .stcdx--me > .stcdx--menu > .stcdx--hintList {
  cursor: help;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: left;
  background-color: var(--greyCAIbg);
  position: relative;
  z-index: 10;
  height: 2em;
  overflow: hidden;
}
body > .stcdx--me > .stcdx--menu > .stcdx--hintList:hover {
  overflow: visible;
}
body > .stcdx--me > .stcdx--menu > .stcdx--hintList > .stcdx--hint {
  font-size: smaller;
  padding: 0.5em;
  background-color: var(--greyCAIbg);
}
body > .stcdx--me > .stcdx--menu > .stcdx--actions {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding-left: 1em;
}
body > .stcdx--me > .stcdx--menu > .stcdx--actions > .menu_button {
  margin: 0;
  height: 2em;
}
body > .stcdx--me .stcdx--mapContainer {
  flex: 0 0 auto;
  display: grid;
  position: relative;
}
body > .stcdx--me .stcdx--mapContainer > .stcdx--map,
body > .stcdx--me .stcdx--mapContainer .stcdx--hover {
  grid-column: 1;
  grid-row: 2;
  max-height: calc(100vh - 2em);
  max-width: calc(100vw - 2em);
  height: auto;
  width: auto;
  margin: auto;
  z-index: 1;
}
body > .stcdx--me .stcdx--mapContainer > .stcdx--map.stcdx--hover,
body > .stcdx--me .stcdx--mapContainer .stcdx--hover.stcdx--hover {
  pointer-events: none;
}
body > .stcdx--mapCodex {
  position: fixed;
  inset: 0;
  padding: 1em;
  z-index: 10000;
}
body > .stcdx--mapCodex:before {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
}
body > .stcdx--mapCodex .stcdx--mapContainer {
  flex: 0 0 auto;
  display: grid;
  position: relative;
  cursor: zoom-out;
}
body > .stcdx--mapCodex .stcdx--mapContainer > .stcdx--map,
body > .stcdx--mapCodex .stcdx--mapContainer .stcdx--hover {
  grid-column: 1;
  grid-row: 2;
  max-height: calc(100vh - 2em);
  max-width: calc(100vw - 2em);
  height: auto;
  width: auto;
  margin: auto;
  z-index: 1;
}
body > .stcdx--mapCodex .stcdx--mapContainer > .stcdx--map.stcdx--map,
body > .stcdx--mapCodex .stcdx--mapContainer .stcdx--hover.stcdx--map {
  filter: saturate(0.5);
}
body > .stcdx--mapCodex .stcdx--mapContainer > .stcdx--map.stcdx--hover,
body > .stcdx--mapCodex .stcdx--mapContainer .stcdx--hover.stcdx--hover {
  pointer-events: none;
  transform: scale(1);
  transition: transform 200ms;
  filter: drop-shadow(0 0 3px black);
}
.stcdx--tooltip.mes_text {
  pointer-events: none;
  background-color: var(--SmartThemeBotMesBlurTintColor);
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
  filter: drop-shadow(1px 1px 2px var(--black50a));
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 10px;
  max-width: 30vw;
  max-height: 60vh;
  overflow: auto;
  position: fixed;
  z-index: 99999;
  padding: 1em;
  text-align: justify;
}
.stcdx--tooltip.mes_text.stcdx--fixed {
  --scale-speaker: 100;
  --top: calc(100 - 100 / var(--scale-speaker) * 100);
  --offset: 25;
  --transition: 400;
  --scale-dropoff: 3;
  --position: 100;
  --width: calc((100vw - var(--sheldWidth)) / 2);
  max-width: unset;
  max-height: unset;
  padding: calc(1em + 5px);
  padding-top: 1em;
  position: absolute;
  top: calc(2em + 5px);
  bottom: 0;
  left: calc(var(--position) * (100vw - var(--width)) / 100);
  left: clamp(0vw, calc(var(--position) * (100vw - var(--width)) / 100 - var(--settings-panel-width, 0px)), calc(100vw - var(--width)));
  width: var(--width);
}
.stcdx--tooltip.mes_text.stcdx--fixed h1,
.stcdx--tooltip.mes_text.stcdx--fixed h2,
.stcdx--tooltip.mes_text.stcdx--fixed h3 {
  text-align: center;
}
.stcdx--tooltip.mes_text.stcdx--fixed img {
  max-height: 50vh;
  width: 100%;
  object-fit: contain;
  object-position: center;
  cursor: zoom-in;
}
.stcdx--tooltip.mes_text.stcdx--fixed img:hover {
  filter: drop-shadow(2px 4px 6px black);
}
.stcdx--tooltip.mes_text > br {
  display: none;
}
.stcdx--tooltip.mes_text h1,
.stcdx--tooltip.mes_text h2,
.stcdx--tooltip.mes_text h3 {
  text-align: center;
}
.stcdx--tooltip.mes_text img {
  max-height: calc(60vh * 0.5);
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.stcdx--tooltip.mes_text > p:last-child {
  margin-bottom: 0;
}
.stcdx--blocker {
  position: fixed;
  inset: 0;
  z-index: 99999;
  backdrop-filter: blur(0px);
  cursor: zoom-out;
  transition: 400ms;
}
.stcdx--blocker.stcdx--active {
  backdrop-filter: blur(10px);
}
.stcdx--blocker > .stcdx--clone {
  position: absolute;
  object-fit: contain;
  object-position: center;
  transition: 400ms;
}
#stcdx--mapEditor,
#stcdx--zoneEditor {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}
#stcdx--mapEditor > label:has(#stcdx--map-description),
#stcdx--zoneEditor > label:has(#stcdx--map-description),
#stcdx--mapEditor > label:has(#stcdx--zone-description),
#stcdx--zoneEditor > label:has(#stcdx--zone-description) {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
#stcdx--mapEditor > label:has(#stcdx--map-description) #stcdx--map-description,
#stcdx--zoneEditor > label:has(#stcdx--map-description) #stcdx--map-description,
#stcdx--mapEditor > label:has(#stcdx--zone-description) #stcdx--map-description,
#stcdx--zoneEditor > label:has(#stcdx--zone-description) #stcdx--map-description,
#stcdx--mapEditor > label:has(#stcdx--map-description) #stcdx--zone-description,
#stcdx--zoneEditor > label:has(#stcdx--map-description) #stcdx--zone-description,
#stcdx--mapEditor > label:has(#stcdx--zone-description) #stcdx--zone-description,
#stcdx--zoneEditor > label:has(#stcdx--zone-description) #stcdx--zone-description {
  flex: 1 1 auto;
}
.stcdx--settings .stcdx--template {
  border-top: 1px solid var(--SmartThemeBorderColor);
  padding-top: 1em;
  margin-top: 1em;
}
.stcdx--settings .stcdx--template > .stcdx--content > .stcdx--row {
  display: flex;
  gap: 0.5em;
}
