body {
	--stcdx--color: rgb(0, 255, 255);
	--stcdx--icon: "🧾";
}
.stcdx--link {
	cursor: help;
	color: var(--stcdx--color);
	transition: 400ms;
	&:hover {
		text-decoration: underline dotted;
		&:after {
			opacity: 1;
		}
	}
	&:after {
		content: var(--stcdx--icon);
		opacity: 0.5;
	}
}


.stcdx--root {
	--scale-speaker: 100;
	--top: calc(100 - 100 / var(--scale-speaker) * 100);
	--offset: 25;
	--transition: 400;
	--scale-dropoff: 3;
	--position: 100;
	--width: calc((100vw - var(--sheldWidth)) / 2);
}
.stcdx--root {
	background-color: var(--SmartThemeBotMesBlurTintColor);
	position: absolute;
	top: calc(var(--top) * 1%);
	bottom: 0;
	left: calc(var(--position) * (100vw - var(--width)) / 100);
	left: clamp(0vw, calc(var(--position) * (100vw - var(--width)) / 100 - var(--settings-panel-width, 0px)), calc(100vw - var(--width)));
	width: var(--width);
	perspective: 500px;
	transform-style: preserve-3d;
	transition: calc(var(--transition) * 1ms);
	display: grid;
	grid-template-columns: 100%;
    grid-template-rows: 0fr 1fr;

	> .stcdx--header {
		flex: 0 0 auto;
		height: 2em;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 2em;
		gap: 1em;
		> .stcdx--menuTrigger {
			cursor: pointer;
			font-size: 2em;
			padding: 0.2em;
			> .stcdx--books {
				cursor: default;
				background-color: var(--SmartThemeBotMesBlurTintColor);
				border: 1px solid var(--SmartThemeBorderColor);
				backdrop-filter: blur(var(--SmartThemeBlurStrength));
				border-radius: 10px;
				font-size: 0.5em;
				position: absolute;
				top: 100%;
				left: 0;
				overflow: auto;
				margin: 0;
				padding: 0.5em;
				max-height: 90vh;
				list-style: none;
				z-index: 99999;
				max-width: 100%;
				> .stcdx--book {
					> .stcdx--name {
						font-weight: bold;
					}
					> .stcdx--entries {
						list-style: none;
						padding: 0 0.5em 0.5em 0.5em;
						margin: 0;
						> .stcdx--entry {
							cursor: pointer;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							opacity: 0.8;
							transition: 200ms;
							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
		}
		> .stcdx--search {
			position: relative;
			flex: 1 1 auto;
			> .stcdx--results {
				background-color: var(--SmartThemeBotMesBlurTintColor);
				border: 1px solid var(--SmartThemeBorderColor);
				backdrop-filter: blur(var(--SmartThemeBlurStrength));
				border-radius: 10px;
				position: absolute;
				top: 100%;
				left: 0;
				overflow: auto;
				margin: 0;
				padding: 0.5em;
				max-height: 90vh;
				list-style: none;
				z-index: 99999;
				width: 100%;
				> .stcdx--result {
					opacity: 0.8;
					transition: 200ms;
					cursor: pointer;
					padding: 0.25em;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		> .stcdx--controls {
			right: 0;
			top: 0;
			> .stcdx--close {
				height: 15px;
				aspect-ratio: 1 / 1;
				font-size: 20px;
				opacity: 0.5;
				transition: all 250ms;
			}
		}
	}

	> .stcdx--content {
		grid-row: 2;
		grid-column: 1;
		height: 100%;
		width: 100%;
		overflow: auto;
		padding: 1em;
		text-align: justify;
		transition: 400ms;
		h1, h2, h3 {
			text-align: center;
		}
		img {
			max-height: 50vh;
			width: 100%;
			object-fit: contain;
			object-position: center;
			cursor: zoom-in;
			&:hover {
				filter: drop-shadow(2px 4px 6px black);
			}
		}
	}
}




.stcdx--tooltip.mes_text {
	pointer-events: none;
	background-color: var(--SmartThemeBotMesBlurTintColor);
	backdrop-filter: blur(var(--SmartThemeBlurStrength));
	filter: drop-shadow(1px 1px 2px var(--black50a));
	border: 1px solid var(--SmartThemeBorderColor);
	border-radius: 10px;
	max-width: 30vw;
	max-height: 60vh;
	// min-width: 100px;
	// min-height: 100px;
	overflow: auto;
	position: fixed;
	z-index: 99999;
	padding: 1em;
	text-align: justify;
	> br {
		display: none;
	}
	h1, h2, h3 {
		text-align: center;
	}
	img {
		max-height: calc(60vh * 0.5);
		width: 100%;
		object-fit: contain;
		object-position: center;
	}
	> p:last-child {
		margin-bottom: 0;
	}
}




.stcdx--blocker {
	position: fixed;
	inset: 0;
	z-index: 99999;
	backdrop-filter: blur(0px);
	cursor: zoom-out;
	transition: 400ms;
	&.stcdx--active {
		backdrop-filter: blur(10px);
	}
	> .stcdx--clone {
		position: absolute;
		object-fit: contain;
		object-position: center;
		transition: 400ms;
	}
}




.stcdx--settings {
	.stcdx--template {
		border-top: 1px solid var(--SmartThemeBorderColor);
		padding-top: 1em;
		margin-top: 1em;

		> .stcdx--content {
			> .stcdx--row {
				display: flex;
				gap: 0.5em;
			}
		}
	}
}
