:root {
  --stcdx--color: #00ffff;
  --stcdx--icon: "🧾";
  --stcdx--mapZoom: 10;
  --stcdx--mapShadow: 3;
  --stcdx--mapShadowColor: rgba(0 0 0 / 1);
  --stcdx--mapDesaturate: 50;
  --stcdx--headerFontSize: 2;
  --stcdx--transitionTime: 400;
  --stcdx--zoomTime: 400;
  --stcdx--mapZoneZoomTime: 400;
}
#shadow_popup:has(#stcdx--zoneEditor),
#shadow_popup:has(#stcdx--mapEditor),
body:has(.stcdx--mapEditor) #shadow_popup {
  z-index: 10000;
}
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 1em;
  height: 100%;
}
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor > label:has(#stcdx--map-description),
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor > label:has(#stcdx--map-description),
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor > label:has(#stcdx--map-description),
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor > label:has(#stcdx--map-description),
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor > label:has(#stcdx--map-description),
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor > label:has(#stcdx--map-description),
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor > label:has(#stcdx--zone-description),
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor > label:has(#stcdx--zone-description),
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor > label:has(#stcdx--zone-description),
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor > label:has(#stcdx--zone-description),
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor > label:has(#stcdx--zone-description),
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor > label:has(#stcdx--zone-description) {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor > label:has(#stcdx--map-description) #stcdx--map-description,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor > label:has(#stcdx--map-description) #stcdx--map-description,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor > label:has(#stcdx--map-description) #stcdx--map-description,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor > label:has(#stcdx--map-description) #stcdx--map-description,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor > label:has(#stcdx--map-description) #stcdx--map-description,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor > label:has(#stcdx--map-description) #stcdx--map-description,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor > label:has(#stcdx--zone-description) #stcdx--map-description,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor > label:has(#stcdx--zone-description) #stcdx--map-description,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor > label:has(#stcdx--zone-description) #stcdx--map-description,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor > label:has(#stcdx--zone-description) #stcdx--map-description,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor > label:has(#stcdx--zone-description) #stcdx--map-description,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor > label:has(#stcdx--zone-description) #stcdx--map-description,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor > label:has(#stcdx--map-description) #stcdx--zone-description,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor > label:has(#stcdx--map-description) #stcdx--zone-description,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor > label:has(#stcdx--map-description) #stcdx--zone-description,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor > label:has(#stcdx--map-description) #stcdx--zone-description,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor > label:has(#stcdx--map-description) #stcdx--zone-description,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor > label:has(#stcdx--map-description) #stcdx--zone-description,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor > label:has(#stcdx--zone-description) #stcdx--zone-description,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor > label:has(#stcdx--zone-description) #stcdx--zone-description,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor > label:has(#stcdx--zone-description) #stcdx--zone-description,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor > label:has(#stcdx--zone-description) #stcdx--zone-description,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor > label:has(#stcdx--zone-description) #stcdx--zone-description,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor > label:has(#stcdx--zone-description) #stcdx--zone-description {
  flex: 1 1 auto;
}
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor > label:has(input[type="checkbox"]),
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor > label:has(input[type="checkbox"]),
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor > label:has(input[type="checkbox"]),
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor > label:has(input[type="checkbox"]),
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor > label:has(input[type="checkbox"]),
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor > label:has(input[type="checkbox"]) {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: baseline;
  justify-content: center;
}
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor > label:has(input[type="checkbox"]) > .stcdx--labelText:after,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor > label:has(input[type="checkbox"]) > .stcdx--labelText:after,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor > label:has(input[type="checkbox"]) > .stcdx--labelText:after,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor > label:has(input[type="checkbox"]) > .stcdx--labelText:after,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor > label:has(input[type="checkbox"]) > .stcdx--labelText:after,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor > label:has(input[type="checkbox"]) > .stcdx--labelText:after {
  content: ": ";
}
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor .stcdx--inputs,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor .stcdx--inputs,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor .stcdx--inputs,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor .stcdx--inputs,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor .stcdx--inputs,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor .stcdx--inputs {
  display: flex;
  align-items: baseline;
}
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--mapEditor .stcdx--hoverSettings,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--mapEditor .stcdx--hoverSettings,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--mapEditor .stcdx--hoverSettings,
#shadow_popup:has(#stcdx--zoneEditor) #stcdx--zoneEditor .stcdx--hoverSettings,
#shadow_popup:has(#stcdx--mapEditor) #stcdx--zoneEditor .stcdx--hoverSettings,
body:has(.stcdx--mapEditor) #shadow_popup #stcdx--zoneEditor .stcdx--hoverSettings {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: space-evenly;
}
#stcdx--settings .stcdx--templatesContainer {
  flex: 1 1 auto;
}
#stcdx--settings .stcdx--templatesContainer .stcdx--template {
  border-top: 1px solid var(--SmartThemeBorderColor);
  padding-top: 1em;
  margin-top: 1em;
}
#stcdx--settings .stcdx--templatesContainer .stcdx--template > .stcdx--content > .stcdx--row {
  display: flex;
  gap: 0.5em;
}
body:has(#stcdx--codex.stcdx--active) #WorldInfo {
  max-width: calc(100vw - (100vw - var(--sheldWidth)) / 2 - var(--nav-bar-width, 0));
}
#WorldInfo .stcdx--wiButton {
  white-space: nowrap;
}
.stcdx--link {
  cursor: help;
  color: var(--stcdx--color);
  transition: 200ms;
}
.stcdx--link:after {
  content: var(--stcdx--icon);
  opacity: 0.5;
}
.stcdx--link:hover {
  text-decoration: underline dotted;
}
.stcdx--link:hover:after {
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  html > body .stcdx--codex {
    top: var(--topBarBlockSize);
    width: calc(100vw - var(--nav-bar-width, 0));
    z-index: 1000;
  }
  html > body .stcdx--tooltip.stcdx--root.stcdx--active {
    display: none;
  }
}
.stcdx--parchment .stcdx--codex {
  background-image: url(img/parchment.png);
  background-size: 100% 100%;
  color: black;
  background-color: transparent;
  border: none;
  backdrop-filter: none;
  grid-template-rows: 6.5% 1fr;
}
.stcdx--parchment .stcdx--codex > .stcdx--header {
  padding-left: 0%;
  margin-bottom: 0%;
  width: 81%;
  position: relative;
  left: 13%;
  height: 100%;
}
.stcdx--parchment .stcdx--codex > .stcdx--header > .stcdx--action.stcdx--menu > .stcdx--books,
.stcdx--parchment .stcdx--codex > .stcdx--header > .stcdx--search > .stcdx--results {
  color: var(--SmartThemeBodyColor);
}
.stcdx--parchment .stcdx--codex > .stcdx--content,
.stcdx--parchment .stcdx--codex .stcdx--content.stcdx--map {
  position: relative;
  left: 11%;
  width: 79%;
  height: 98.5%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  clip-path: polygon(0% 3%, 12.5% 1.75%, 25% 1.1%, 50% 1.1%, 75% 1.6%, 87.5% 2.2%, 100% 3%, 100% 93.2%, 50% 97.25%, 37% 99.5%, 25% 99.3%, 0% 97.3%);
}
.stcdx--parchment .stcdx--codex > .stcdx--content *,
.stcdx--parchment .stcdx--codex .stcdx--content.stcdx--map * {
  text-shadow: none !important;
}
.stcdx--codex {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  max-height: unset;
  max-width: unset;
  width: calc((100vw - var(--sheldWidth)) / 2);
  transition: calc(1ms * var(--stcdx--transitionTime));
}
.stcdx--codex.stcdx--maximized {
  width: calc(100vw - var(--nav-bar-width, 0));
  z-index: 1000;
}
.stcdx--codex.stcdx--isEditing > .stcdx--header > .stcdx--action,
.stcdx--codex.stcdx--isEditing > .stcdx--header > .stcdx--search {
  display: none;
}
.stcdx--codex.stcdx--isEditing > .stcdx--header > .stcdx--action.stcdx--edit,
.stcdx--codex.stcdx--isEditing > .stcdx--header > .stcdx--search.stcdx--edit,
.stcdx--codex.stcdx--isEditing > .stcdx--header > .stcdx--action.stcdx--max,
.stcdx--codex.stcdx--isEditing > .stcdx--header > .stcdx--search.stcdx--max,
.stcdx--codex.stcdx--isEditing > .stcdx--header > .stcdx--action.stcdx--close,
.stcdx--codex.stcdx--isEditing > .stcdx--header > .stcdx--search.stcdx--close {
  display: block;
}
.stcdx--codex.stcdx--isEditing > .stcdx--header > .stcdx--editHeader {
  display: block;
}
.stcdx--codex > .stcdx--header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(1em * var(--stcdx--headerFontSize) / 2);
  position: relative;
  height: 2em;
}
.stcdx--codex > .stcdx--header > .stcdx--action {
  cursor: pointer;
  font-size: calc(1em * var(--stcdx--headerFontSize));
  padding: 0.2em;
  opacity: 0.5;
  transition: 200ms;
}
.stcdx--codex > .stcdx--header > .stcdx--action:hover {
  opacity: 1;
}
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--disabled {
  cursor: default;
  opacity: 0.25;
}
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--disabled:hover {
  opacity: 0.25;
}
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--menu > .stcdx--books {
  display: none;
  background-color: var(--SmartThemeBotMesBlurTintColor);
  border: 1px solid var(--SmartThemeBorderColor);
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
  border-radius: 10px;
  font-size: calc(1em / var(--stcdx--headerFontSize));
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 0.5em;
  max-height: 90vh;
  list-style: none;
  z-index: 99999;
  max-width: 100%;
}
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--menu > .stcdx--books.stcdx--active {
  display: block;
}
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--menu > .stcdx--books > .stcdx--book > .stcdx--name {
  font-weight: bold;
}
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--menu > .stcdx--books > .stcdx--book > .stcdx--entries {
  list-style: none;
  padding: 0 0.5em 0.5em 0.5em;
  margin: 0;
}
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--menu > .stcdx--books > .stcdx--book > .stcdx--entries > .stcdx--entry {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.8;
  transition: 200ms;
}
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--menu > .stcdx--books > .stcdx--book > .stcdx--entries > .stcdx--entry:hover {
  opacity: 1;
}
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--edit {
  transform: scaleX(-1);
}
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--drag,
.stcdx--codex > .stcdx--header > .stcdx--action.stcdx--close {
  font-size: 1em;
}
.stcdx--codex > .stcdx--header > .stcdx--editHeader {
  flex: 1 1 auto;
  display: none;
  text-align: center;
}
.stcdx--codex > .stcdx--header > .stcdx--search {
  flex: 1 1 auto;
}
.stcdx--codex > .stcdx--header > .stcdx--search > .stcdx--searchInput {
  width: 100%;
}
.stcdx--codex > .stcdx--header > .stcdx--search > .stcdx--results {
  background-color: var(--SmartThemeBotMesBlurTintColor);
  border: 1px solid var(--SmartThemeBorderColor);
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 0.5em;
  max-height: 90vh;
  list-style: none;
  z-index: 99999;
  width: 100%;
}
.stcdx--codex > .stcdx--header > .stcdx--search > .stcdx--results > .stcdx--result {
  opacity: 0.8;
  transition: 200ms;
  cursor: pointer;
  padding: 0.25em;
}
.stcdx--codex > .stcdx--header > .stcdx--search > .stcdx--results > .stcdx--result:hover {
  opacity: 1;
}
.stcdx--root {
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 0fr 1fr;
  background-color: var(--SmartThemeBotMesBlurTintColor);
}
.stcdx--root.stcdx--active {
  display: grid;
}
.stcdx--root > .stcdx--content,
.stcdx--root > .stcdx--editor {
  grid-row: 2;
  grid-column: 1;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 1em;
  text-align: justify;
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: calc(1ms * var(--stcdx--transitionTime));
}
.stcdx--root > .stcdx--content.stcdx--preactive,
.stcdx--root > .stcdx--editor.stcdx--preactive {
  display: block;
}
.stcdx--root > .stcdx--content.stcdx--active,
.stcdx--root > .stcdx--editor.stcdx--active {
  opacity: 1;
  pointer-events: all;
}
.stcdx--root > .stcdx--content > br {
  display: none;
}
.stcdx--root > .stcdx--content h1,
.stcdx--root > .stcdx--content h2,
.stcdx--root > .stcdx--content h3 {
  text-align: center;
}
.stcdx--root > .stcdx--content img {
  cursor: zoom-in;
  height: auto;
  max-height: 50vh;
  object-fit: contain;
  object-position: center;
  transition: 200ms;
  width: 100%;
}
.stcdx--root > .stcdx--content img:hover {
  filter: drop-shadow(0 0 6px rgba(0 0 0 / 1));
}
.stcdx--root > .stcdx--content.stcdx--map {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
  overflow: hidden;
}
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--title {
  cursor: zoom-in;
}
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--title:after {
  content: "🔎︎";
  font-size: 0.8em;
  margin-left: 0.5em;
  opacity: 0.5;
  transition: 200ms;
}
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--title:hover:after {
  opacity: 0.9;
}
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--mapContainer {
  flex: 0 0 auto;
  position: relative;
  cursor: zoom-in;
}
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--mapContainer:hover {
  filter: drop-shadow(0 0 6px rgba(0 0 0 / 1));
}
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--mapContainer > .stcdx--map,
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--mapContainer .stcdx--paint,
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--mapContainer > .stcdx--hover {
  max-height: 50vh;
}
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--zoneContainer {
  flex: 1 1 auto;
  overflow: auto;
}
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--zoneContainer > .stcdx--zone {
  opacity: 0.75;
  transition: 200ms;
}
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--zoneContainer > .stcdx--zone.stcdx--active {
  opacity: 1;
}
.stcdx--root > .stcdx--content.stcdx--map > .stcdx--zoneContainer > .stcdx--zone > .stcdx--title {
  font-weight: bold;
}
.stcdx--root > .stcdx--content.stcdx--charList > .stcdx--chars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
}
.stcdx--root > .stcdx--content.stcdx--charList > .stcdx--chars:after {
  content: "";
  flex: 1 1 auto;
}
.stcdx--root > .stcdx--content.stcdx--charList > .stcdx--chars > .stcdx--char {
  transition: 400ms;
  transform: scale(1);
  filter: drop-shadow(0 0 0 transparent);
}
.stcdx--root > .stcdx--content.stcdx--charList > .stcdx--chars > .stcdx--char:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px black);
}
.stcdx--root > .stcdx--content.stcdx--charList > .stcdx--chars > .stcdx--char > .stcdx--image {
  --stcdx--cardHeight: 200px;
  --stcdx--cardWidth: calc(var(--stcdx--cardHeight) / 144 * 96);
  height: var(--stcdx--cardHeight);
  width: var(--stcdx--cardWidth);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.stcdx--root > .stcdx--content.stcdx--charList > .stcdx--chars > .stcdx--char > .stcdx--name {
  text-align: center;
}
.stcdx--blocker {
  position: fixed;
  inset: 0;
  z-index: 99999;
  backdrop-filter: blur(0px);
  cursor: zoom-out;
  transition: calc(1ms * var(--stcdx--zoomTime));
}
.stcdx--blocker.stcdx--active {
  backdrop-filter: blur(10px);
}
.stcdx--blocker > .stcdx--clone {
  position: absolute;
  object-fit: contain;
  object-position: center;
  transition: calc(1ms * var(--stcdx--zoomTime));
}
.stcdx--map-zoomed {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  backdrop-filter: blur(0);
  pointer-events: none;
  transition: calc(1ms * var(--stcdx--zoomTime));
}
.stcdx--map-zoomed.stcdx--active {
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
  pointer-events: all;
}
.stcdx--map-zoomed > .stcdx--mapContainer {
  position: absolute;
  inset: 0;
  cursor: zoom-out;
  height: 100vh;
  width: 100vw;
  transition: calc(1ms * var(--stcdx--zoomTime));
}
.stcdx--map-zoomed > .stcdx--mapContainer > .stcdx--map,
.stcdx--map-zoomed > .stcdx--mapContainer > .stcdx--paint,
.stcdx--map-zoomed > .stcdx--mapContainer > .stcdx--hover {
  position: absolute;
  inset: 0;
  max-height: 100%;
}
.stcdx--mapContainer {
  display: grid;
}
.stcdx--mapContainer > .stcdx--map,
.stcdx--mapContainer > .stcdx--paint,
.stcdx--mapContainer > .stcdx--hover,
.stcdx--mapContainer > .stcdx--painter-canvas,
.stcdx--mapContainer > .stcdx--painter-layer,
.stcdx--mapContainer > .stcdx--painter-inputCanvas {
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: auto;
  z-index: 1;
  filter: saturate(calc(1 - var(--stcdx--mapDesaturate) / 100));
}
.stcdx--mapContainer > .stcdx--map.stcdx--paint,
.stcdx--mapContainer > .stcdx--paint.stcdx--paint,
.stcdx--mapContainer > .stcdx--hover.stcdx--paint,
.stcdx--mapContainer > .stcdx--painter-canvas.stcdx--paint,
.stcdx--mapContainer > .stcdx--painter-layer.stcdx--paint,
.stcdx--mapContainer > .stcdx--painter-inputCanvas.stcdx--paint,
.stcdx--mapContainer > .stcdx--map.stcdx--painter-layer,
.stcdx--mapContainer > .stcdx--paint.stcdx--painter-layer,
.stcdx--mapContainer > .stcdx--hover.stcdx--painter-layer,
.stcdx--mapContainer > .stcdx--painter-canvas.stcdx--painter-layer,
.stcdx--mapContainer > .stcdx--painter-layer.stcdx--painter-layer,
.stcdx--mapContainer > .stcdx--painter-inputCanvas.stcdx--painter-layer {
  pointer-events: none;
}
.stcdx--mapContainer > .stcdx--map.stcdx--hover,
.stcdx--mapContainer > .stcdx--paint.stcdx--hover,
.stcdx--mapContainer > .stcdx--hover.stcdx--hover,
.stcdx--mapContainer > .stcdx--painter-canvas.stcdx--hover,
.stcdx--mapContainer > .stcdx--painter-layer.stcdx--hover,
.stcdx--mapContainer > .stcdx--painter-inputCanvas.stcdx--hover {
  pointer-events: none;
  transition: opacity calc(1ms * var(--stcdx--mapZoneZoomTime)), transform calc(1ms * var(--stcdx--mapZoneZoomTime)), filter calc(1ms * var(--stcdx--mapZoneZoomTime));
}
.stcdx--mapContainer > .stcdx--map.stcdx--hover.stcdx--fade,
.stcdx--mapContainer > .stcdx--paint.stcdx--hover.stcdx--fade,
.stcdx--mapContainer > .stcdx--hover.stcdx--hover.stcdx--fade,
.stcdx--mapContainer > .stcdx--painter-canvas.stcdx--hover.stcdx--fade,
.stcdx--mapContainer > .stcdx--painter-layer.stcdx--hover.stcdx--fade,
.stcdx--mapContainer > .stcdx--painter-inputCanvas.stcdx--hover.stcdx--fade {
  opacity: 0;
}
.stcdx--mapContainer > .stcdx--map.stcdx--hover.stcdx--hovered,
.stcdx--mapContainer > .stcdx--paint.stcdx--hover.stcdx--hovered,
.stcdx--mapContainer > .stcdx--hover.stcdx--hover.stcdx--hovered,
.stcdx--mapContainer > .stcdx--painter-canvas.stcdx--hover.stcdx--hovered,
.stcdx--mapContainer > .stcdx--painter-layer.stcdx--hover.stcdx--hovered,
.stcdx--mapContainer > .stcdx--painter-inputCanvas.stcdx--hover.stcdx--hovered {
  transform: scale(calc(1 + var(--stcdx--mapZoom) / 100));
  filter: saturate(1) drop-shadow(0 0 calc(1px * var(--stcdx--mapShadow)) var(--stcdx--mapShadowColor));
  z-index: 2;
}
.stcdx--mapContainer > .stcdx--map.stcdx--hover.stcdx--hovered.stcdx--fade,
.stcdx--mapContainer > .stcdx--paint.stcdx--hover.stcdx--hovered.stcdx--fade,
.stcdx--mapContainer > .stcdx--hover.stcdx--hover.stcdx--hovered.stcdx--fade,
.stcdx--mapContainer > .stcdx--painter-canvas.stcdx--hover.stcdx--hovered.stcdx--fade,
.stcdx--mapContainer > .stcdx--painter-layer.stcdx--hover.stcdx--hovered.stcdx--fade,
.stcdx--mapContainer > .stcdx--painter-inputCanvas.stcdx--hover.stcdx--hovered.stcdx--fade {
  opacity: 1;
}
.stcdx--mapEditor {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
  position: fixed;
  inset: 0;
  z-index: 9999;
}
.stcdx--mapEditor.stcdx--isPainting > .stcdx--menu > .stcdx--hintList {
  display: none;
}
.stcdx--mapEditor.stcdx--isPainting > .stcdx--menu > .stcdx--actions > .stcdx--details,
.stcdx--mapEditor.stcdx--isPainting > .stcdx--menu > .stcdx--actions > .stcdx--close {
  display: none;
}
.stcdx--mapEditor.stcdx--isPainting .stcdx--mapContainer > .stcdx--paint {
  display: none;
}
.stcdx--mapEditor > .stcdx--menu {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: end;
  background-color: var(--greyCAIbg);
  box-shadow: 0 0 6px rgba(0 0 0 / 0.5);
  height: 2em;
  position: relative;
  z-index: 5;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-left: 1em;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > * {
  height: 2em;
  width: 2em;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--SmartThemeBorderColor);
  opacity: 0.5;
  transition: 200ms;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *:hover {
  opacity: 1;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--active {
  background-color: whitesmoke;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers {
  background-image: url(img/tools-layers-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-undo {
  background-image: url(img/tools-undo-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-redo {
  background-image: url(img/tools-redo-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-clear {
  background-image: url(img/tools-clear-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-eraser {
  background-image: url(img/tools-eraser-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-pencil {
  background-image: url(img/tools-pencil-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-brush {
  background-image: url(img/tools-brush-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-rectangle {
  background-image: url(img/tools-rectangle-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-rectangle.stcdx--painter-filled {
  background-image: url(img/tools-rectangleFilled-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-oval {
  background-image: url(img/tools-oval-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-oval.stcdx--painter-filled {
  background-image: url(img/tools-ovalFilled-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-line {
  background-image: url(img/tools-line-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-line.stcdx--painter-filled {
  background-image: url(img/tools-lineFilled-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-smoothing-radius {
  background-image: url(img/smoothing-radius-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-smoothing-catchup {
  background-image: url(img/smoothing-catchup-21.png);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers.stcdx--active {
  opacity: 1;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers.stcdx--active > .stcdx--painter-layerPanel {
  display: block;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel {
  background-color: var(--SmartThemeBotMesBlurTintColor);
  border: 1px solid var(--SmartThemeBorderColor);
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 0.5em;
  max-height: 90vh;
  list-style: none;
  z-index: 10;
  min-width: 100px;
  display: none;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel > .stcdx--painter-add {
  font-weight: bold;
  font-size: 2em;
  line-height: 1;
  opacity: 0.5;
  transition: 200ms;
  cursor: pointer;
  text-align: center;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel > .stcdx--painter-add:hover {
  opacity: 1;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel > .stcdx--painter-layerTrigger {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  padding: 0.5em;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel > .stcdx--painter-layerTrigger.stcdx--active {
  background-color: var(--greyCAIbg);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel > .stcdx--painter-layerTrigger > .stcdx--painter-thumb {
  cursor: pointer;
  border: 2px solid var(--SmartThemeBorderColor);
  background: var(--SmartThemeBlurTintColor);
  transition: 200ms;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel > .stcdx--painter-layerTrigger > .stcdx--painter-thumb:hover {
  border-color: var(--SmartThemeShadowColor);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel > .stcdx--painter-layerTrigger > .stcdx--painter-title {
  cursor: pointer;
  flex: 1 1 auto;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel > .stcdx--painter-layerTrigger > .stcdx--painter-zoneWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel > .stcdx--painter-layerTrigger > .stcdx--painter-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-group > *.stcdx--painter-layers > .stcdx--painter-layerPanel > .stcdx--painter-layerTrigger > .stcdx--painter-actions > .stcdx--painter-action {
  width: 2em;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-colors > .stcdx--painter-swatch {
  border: 1px solid var(--grey30);
  height: 1em;
  width: 1em;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-colors > .stcdx--painter-swatch:hover {
  scale: 1.25;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-width {
  display: flex;
  align-items: center;
  height: 2em;
  overflow: hidden;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-width > .stcdx--painter-widthDisplayContainer {
  flex: 0 0 auto;
  width: 100px;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--painterControls > .stcdx--painter-width > .stcdx--painter-widthDisplayContainer > .stcdx--painter-widthDisplay {
  border-radius: 50%;
  height: calc(attr(data-stcdx--value) * 1px);
  width: calc(attr(data-stcdx--value) * 1px);
  background-color: var(--SmartThemeBodyColor);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--title {
  flex: 1 1 auto;
  text-align: center;
  font-weight: bold;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--hintList {
  cursor: help;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: left;
  background-color: var(--greyCAIbg);
  position: relative;
  z-index: 10;
  height: 2em;
  overflow: hidden;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--hintList:hover {
  overflow: visible;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--hintList > .stcdx--hint {
  font-size: smaller;
  padding: 0.5em;
  background-color: var(--greyCAIbg);
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--actions {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding-left: 1em;
}
.stcdx--mapEditor > .stcdx--menu > .stcdx--actions > .menu_button {
  margin: 0;
  height: 2em;
}
.stcdx--mapEditor > .stcdx--mapContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--map,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--paint,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--hover,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--painter-canvas,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--painter-layer,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--painter-inputCanvas {
  max-height: 100%;
  inset: 0;
  position: absolute;
  filter: none;
  opacity: 1;
}
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--map.stcdx--hover,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--paint.stcdx--hover,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--hover.stcdx--hover,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--painter-canvas.stcdx--hover,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--painter-layer.stcdx--hover,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--painter-inputCanvas.stcdx--hover {
  z-index: 2;
}
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--map.stcdx--painter-layer.stcdx--painter-isHidden,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--paint.stcdx--painter-layer.stcdx--painter-isHidden,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--hover.stcdx--painter-layer.stcdx--painter-isHidden,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--painter-canvas.stcdx--painter-layer.stcdx--painter-isHidden,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--painter-layer.stcdx--painter-layer.stcdx--painter-isHidden,
.stcdx--mapEditor > .stcdx--mapContainer > .stcdx--painter-inputCanvas.stcdx--painter-layer.stcdx--painter-isHidden {
  display: none;
}
.stcdx--tooltip {
  pointer-events: none;
  background-color: var(--SmartThemeBotMesBlurTintColor);
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
  filter: drop-shadow(1px 1px 2px var(--black50a));
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 10px;
  width: 30vw;
  max-height: 60vh;
  overflow: auto;
  position: fixed;
  z-index: 10000;
  padding: 5px;
  text-align: justify;
}
.stcdx--tooltip .stcdx--mapContainer > .stcdx--map,
.stcdx--tooltip .stcdx--mapContainer > .stcdx--hover,
.stcdx--tooltip img {
  max-height: 30vh;
}
.stcdx--tooltip.stcdx--fixed {
  position: absolute;
  bottom: 0;
  right: 0;
  top: calc(2em);
  max-height: unset;
  max-width: unset;
  width: calc((100vw - var(--sheldWidth)) / 2);
  transition: calc(1ms * var(--stcdx--transitionTime));
}
.stcdx--tooltip > .stcdx--content.stcdx--active {
  pointer-events: none;
}
@keyframes stcdx--flash {
  0% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
  100% {
    filter: invert(0);
  }
}
.stcdx--flash {
  animation-name: flash;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
#stcdx--help code > em {
  color: var(--SmartThemeQuoteColor);
}
.mes[is_system="true"][ch_name="SillyTavern System"] .mes_text #stcdx--help br {
  display: block;
}
#stcdx--help hr {
  display: block;
  margin: 4em 0;
}
#stcdx--help a[data-stcdx--href] {
  cursor: pointer;
}
#stcdx--help a[data-stcdx--href]:hover {
  text-decoration: dotted underline 1px orange;
}
#stcdx--help h1 > a[data-stcdx--href],
#stcdx--help h2 > a[data-stcdx--href],
#stcdx--help h3 > a[data-stcdx--href],
#stcdx--help h4 > a[data-stcdx--href] {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.25em;
}
#stcdx--help h1 > a[data-stcdx--href]:hover,
#stcdx--help h2 > a[data-stcdx--href]:hover,
#stcdx--help h3 > a[data-stcdx--href]:hover,
#stcdx--help h4 > a[data-stcdx--href]:hover {
  filter: drop-shadow(0px 0px 3px orange);
  -webkit-text-stroke: 1px;
}
